
  /* src/components/Carousel.css */
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.swiper-pagination {
  position: revert;
  margin-top: 20px;
}
  
  .swiper-slide {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .swiper-pagination-bullet {
    background: #007bff;
  }
  
  /* src/components/Card.css */
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .card img, .card video {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .carouselItem {
    max-width: 95%;
    max-height: 100%;
    width: auto;
  }

  @media (max-width: 769px) {
    .carouselItem {
      height: auto; 
    }
  }

  .swiper-wrapper{
    align-items: center;
  }